
<ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
              </ion-buttons>
          <ion-title>
            Akun
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content color="medium">
            <form onsubmit="processForm(event)">
                    <ion-list lines="full" class="ion-no-margin ion-no-padding">
                      <h3 text-center>Create Your Account</h3>
                      <ion-item>
                        <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
                        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
                      </ion-item>
            
                      <ion-item>
                        <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
                        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
                      </ion-item>
                      
                      <ion-item>
                            <ion-label position="stacked">Birthday<ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
        
                     </ion-item>
                         
                    <ion-item>
                         <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
                         <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
     
                      </ion-item>
            
                      <ion-item>
                            <ion-label position="stacked">Telephone <ion-text color="danger">*</ion-text></ion-label>
                            <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
     
                      </ion-item>
                      <ion-list>
                            <ion-radio-group>
                              <ion-list-header>
                                <ion-label>Gender</ion-label>
                              </ion-list-header>
                          
                              <ion-item>
                                <ion-label>Male</ion-label>
                                <ion-radio slot="start" value="biff" checked></ion-radio>
                              </ion-item>
                          
                              <ion-item>
                                <ion-label>Female</ion-label>
                                <ion-radio slot="start" value="griff"></ion-radio>
                              </ion-item>
                            </ion-radio-group>
                          </ion-list>
                    </ion-list>
            
                    <div class="ion-padding">
                      <ion-button [routerLink]="'/tabs/tab3'" expand="block" type="submit" class="ion-no-margin">Create account</ion-button>
                    </div>
                    <div class="center">
                    <ion-chip class="ion-float-left" [routerLink]="'/tabs/login'">
                        <ion-label color="dark" >Sign in</ion-label>
                    </ion-chip>
                  </div>
                  </form>
                  
      </ion-content>
      