<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      MENU
    </ion-title> 
  </ion-toolbar>
  <ion-searchbar showCancelButton="always"></ion-searchbar>
</ion-header>

<ion-content color="medium"> 
            <ion-card color="light">
              <ion-card-header>
                  <img class="img-responsive" src="/assets/milktea.jpg" alt="" width="100%" height="auto" />
                <ion-card-title>Milk Tea</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Paduan antara rasa teh dan susu yang ditambahakan macam-macam boobah </p>
               </ion-card-content>
            </ion-card>
    
          <ion-card color="light">
              <ion-card-header>
                  <img class="img-responsive" src="/assets/varian.jpg" alt="" width="100%" height="auto" />
                <ion-card-title>Varian Rasa</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Banyaknya cinta beserta rasa yang dipadukan dengan sekuat susu beserta teh dan campuran boobah hingga membuat penikmat menjadi ingin nambah </p>
              </ion-card-content>
            </ion-card>
     
          <ion-card color="light">
              <ion-card-header>
                  <img class="img-responsive" src="/assets/top.jpg" alt="" width="100%" height="auto" />
                <ion-card-title>Topping</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Terdapat banyak pilihan topping yang membuat lidah bergoyang dengan sendirinya sehingga slalu ingin lagi dan lagi </p>
              </ion-card-content>
            </ion-card>
          <ion-card color="light">
              <ion-card-header>
                  <img class="img-responsive" src="/assets/juy.jpg" alt="" width="100%" height="auto" />
                <ion-card-title>Size</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Dengan ada pilihan size kita bisa memilih secara custom ukuran gelas, ukuran gula ataupun ukuran es batu </p>
              </ion-card-content>
            </ion-card>
            <ion-button [routerLink] = "'/tabs/tab4'" expand="block">
              Pesan Sekarang
            </ion-button>
  </ion-content>
 
