<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
     Keranjang
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card>
      <ion-item>
        <ion-avatar slot="start">
        <img src="/assets/milktea.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Milk Tea</h3>
          </ion-label>
          
        </ion-item>

        <ion-item>
            <ion-checkbox checked="false" size="small"></ion-checkbox><ion-label>Sugar Brown Milktea</ion-label>
               <ion-label position="stacked">Jumlah</ion-label>
               <ion-input required type="text" oninput="Number(event)" size="password" 	maxlength="2"></ion-input>
   
          </ion-item>
          
          <ion-item>
          <ion-checkbox checked="false" size="small"></ion-checkbox>
              <ion-label>Original Milktea</ion-label>
              <ion-label position="stacked">Jumlah</ion-label>
               <ion-input required type="text" oninput="Number(event)" size="password" 	maxlength="2"></ion-input>
          </ion-item>

          <ion-item>
          <ion-checkbox checked="false" size="small"></ion-checkbox>
              <ion-label>Double shot Milktea</ion-label>
              <ion-label position="stacked">Jumlah</ion-label>
               <ion-input required type="text" oninput="Number(event)" size="password" 	maxlength="2"></ion-input>              
         </ion-item>
         <ion-label>Topping</ion-label>
         <ion-item>
            <ion-checkbox checked="false" size="small"></ion-checkbox>
            <ion-label>Boba</ion-label>
          </ion-item>
          <ion-item>
              <ion-checkbox checked="false" size="small"></ion-checkbox>
              <ion-label>Jelly</ion-label>
            </ion-item>
            <ion-button expand="block">Buat Pesanan</ion-button>
      </ion-card>

  </ion-content>




  
